MONGO_URL=your-mongodb-url
GOOGLE_CLIENT_ID=your-google-client-id-https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=your-google-client-secret-https://console.cloud.google.com/apis/credentials
CLIENT_URL=http://localhost:3000
SESSION_SECRET=secret

# upstash
UPSTASH_REDIS_REST_URL=your-uptash-redis-url
UPSTASH_REDIS_REST_TOKEN=your-uptash-redis-token


# google ai 
GEMINI_API_SECRET=your-gemini-api-keys-https://aistudio.google.com/api-keys